label{
display:flex;
margin-bottom: 10px;
}

input{
width:400px;
padding:5px;
background-color:azure;
border:2px solid #fbc7eb;
border-radius: 5px;
height:2em
}

body{
background-color: pink;
padding:5px;
margin: 0 auto;
font-size: 24px;
}

nav> ul{
list-style-type: none;
display: flex;
justify-content: center;
gap: 20px;
}

.logo1{
width: 150px;
height: 150px;
border-radius: 50%;
margin: 0 auto;
}

header{
text-align: center;
}

button{
background-color:#FFEBF4;
color: #333;
border: none;
padding: 10px 20px;
border-radius: 5px;
cursor: pointer;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

button:hover{
background-color: #FFB6C1;
color:white;
border: 2px solid rgb(253, 162, 177);
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

.container{
max-width: 600px;
margin: 0 auto;
padding: 20px;
}
.signIn{margin: 0 auto;
display: block;
text-align: center;
font-size: 18px;
}
footer{
text-align: center;
margin-top: 20px;
font-size: 14px;
color: #666;
}
h2{
    text-align: center;
}
details {
    margin: 20px auto;
    max-width: 600px;
    padding: 15px;
    border-radius: 5px;

}
